*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: 'Montserrat', sans-serif;;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

p{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    line-height: 1.5;
}

p1{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
   
 
}
/* hani css 👇 */
.text-kopper{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;
    margin-top: 2%;
    margin-left: 10%;
    text-align: center;
    font-size: 1rem;
}

.kopper-section{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}


.kopper-img{
   display: flex;
   flex-direction:row;
   height: 50%;
   margin-left: 5%;
   width: 40%;
   margin-top: 3%;
}

.text-kopper2 p{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;
    align-items: center;
    justify-content: left;
    text-align: center;
    margin-bottom: 34%;
    margin-top: 17%;
    margin-left: 10%;
    line-height: 1.7;
}

.text-kopper2 img{
    display: flex;
    flex-direction: column;
    width: 450px; /* Set width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    margin-left: 55%; 
    margin-top: -75%;
}

#text-kopper3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10%;
    margin-left: 15%;
    text-align: center;
    font-size: 1rem;
    width: 70%;
}

#text-kopper3 p1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -15%;
    margin-left: 6%;
    text-align: center;
    font-size: 1rem;
    width: 26%;
    line-height: 1.5;
}

#text-kopper3 p2{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -13%;
    margin-left: 40%;
    text-align: center;
    font-size: 1rem;
    width: 20%;
    line-height: 1.5;
}

#text-kopper3 p3{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -27%;
    margin-left: 69%;
    text-align: center;
    font-size: 1rem;
    width: 20%;
    line-height: 1.5;
}

#text-kopper4 img{
    display: flex;
    flex-direction:row;
    height: 50%;
    margin-left: 15%;
    width: 30%;
    margin-top: 10%;
}

#text-kopper4 p1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -48%;
    line-height: 1.8;
    width: 30%;
    text-align: center;
    margin-left: 55%;
}

img {
    width: 700px; /* Set width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    margin: 20px; /* Add margin */
    margin-left: 19%;
}

/* hani css 👆 */