
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: 'Montserrat', sans-serif;;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

p{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    line-height: 1.5;
}

p1{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
   
 
}





/* casper 👇 */

/* TUBERKULOSE STYLING!!! */

#content_tuberkulose{
    height: 4000px;
}

.tuberkulose_side1 h1{
    text-align: center;
}

.tuberkulose_side1 h2{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 30px;
}

.tuberkulose_side1 h3{
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
}

.tuberkulose_side1 p{
    font-size: 35px;
    width: 70vh;
    position: absolute;
    left: 15%;
    top: 45%;
    text-align: center;
}

.tuberkulose_side1 img{
    width: 18%;
    position: absolute;
    top: 40%;
    right: 15%;
}

.tuberkulose_side2 p{
    font-size: 35px;
    width: 85%;
    position: absolute;
    top: 130%;
    left: 5%;
    text-align: center;
    
}

.tuberkulose_side2 img{
    width: 60%;
    position: absolute;
    top: 155%;
    right: 18%;
    filter: grayscale(1) blur(1px) contrast(1.2) sepia(1);
    -webkit-mask: radial-gradient(#000, #0009);
}


.tuberkulose_side3 p{
    font-size: 35px;
    width: 35%;
    position: absolute;
    top: 250%;
    right: 8%;
    text-align: center;
    
}


.tuberkulose_side3 img{
    width: 40%;
    position: absolute;
    top: 260%;
    right: 50%;
}


.tuberkulose_side4 p{
    font-size: 35px;
    width: 40%;
    position: absolute;
    top: 365%;
    right: 55%;
    text-align: center;
}

.tuberkulose_side4 img{
    width: 40%;
    position: absolute;
    top: 380%;
    right: 5%;
}
/* casper css 👆 */